<h1><%= @title %></h1>

<form action="/bmi" method="post">
  <input type="number" name="calculation" autofocus>
  <button>Calculate BMI</button>

</form>


take values:

mass
height

          bmi = mass / Math.pow(height, 2);
          bmi = Math.round(bmi * 100) / 100; // round it to two decimals --> .round in Ruby

    
