<h1><%= @title %></h1>

<form action="/bmi" method="post">
  <input type="number" name="mass" placeholder="Enter your weight" autofocus>
  <input type="number" name="height" placeholder="Enter your height">
  <button>Calculate BMI</button>

</form>

    
