<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-80">
  <title>Calculators</title>
  <link rel="stylesheet" href="/calc.css">
</head>
<body>
  <nav>
  <ul>
  <li><a href="/">Home</a></li>
  <!-- <li><a href="/bmi">BMI</a></li>
  <li><a href="/mortgage">Mortgage</a></li>
  <li><a href="/trip"></a>Trip</li> -->
  </ul>
  </nav>

  <%= yield %>

</body>
</html>