<h1><%= @title %></h1>

<form action="/mortgage" method="post">
  <input type="number" name="loan" placeholder="Enter the loan amount"  autofocus>
  <input type="number" name="apr"  placeholder="Enter the APR">
  <input type="number" name="term" placeholder="Enter the term">
  <button>Calculate Mortgage</button>

</form>