<h1><%= @title %></h1>

<form action="/trip" method="post">
  <input type="number" name="dist" placeholder="Enter the distance" autofocus>
  <input type="number" name="mpg" placeholder="Enter the Miles per Gallon">
  <input type="number" name="cost" placeholder="Enter the">
  <input type="number" name="speed" placeholder="Enter the speed">
  <button>Calculate Trip</button>

</form>


